<!doctype html>
{%load static%}
<html lang="en">
  <head>
  	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
     integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap" rel="stylesheet">

      <style>
          a{
          color:black;
          }
            body{
                background-image: url("https://cdn.wallpapersafari.com/18/38/bp9GEo.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;

          }
          #sidebar{
          background-color:#FFDEAD;
          }
                 h1{
    font-family: 'Neonderthaw', cursive;
    color:orange;
    margin-left:50px;
    }
      </style>
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">

                    <div class="welcome"><h3>Welcome </h3><h5>{{user.email}}</h5>


                    </div>









            </ul>


	      </div>
    	</nav>

        <!-- Page Content  -->
            <div id="content" class="p-1 p-md-0">

                <nav class="navbar navbar-inverse container " style="background-color: navajowhite;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                             <h1>Bloggify</h1>
                        </div>


                        <ul class="nav navbar-nav">

                            <li class="active"><h4><a href="{% url 'logout' %}">Logout</a></h4></li>

                         </ul>
                    </div>
                </nav>
                <div class="container">
                    <div class="row">
                         <div class="col-3">

                        </div>
                        <div class="col-4">
                           <a href="{% url 'userlist' %}"><h2>Users</h2><i class="fas fa-5x fa-users p-1"></i></a>

                        </div>
                        <div class="col-3">
                            <a href="{% url 'userposts' %}"><h2>Posts</h2><i class="fas fa-5x fa-mail-bulk p-1"></i></a>

                        </div>
                    </div>
                </div>


            </div>
        </div>


    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/popper.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
  </body>
</html>
