<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="assets/img/favicon.ico">
<title>Mediumish - A Medium style template by WowThemes.net</title>
<!-- Bootstrap core CSS -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static 'assets/css/mediumish.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
     integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</head>
<body>

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container">
	<!-- begin logo -->

    <img src="assets/img/logo.png" alt="">

	<!-- end logo -->
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<!-- begin menu -->
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
			<a class="nav-link" href="{%url 'adminhome' %}">Home<span class="sr-only">(current)</span></a>
			</li>
      <li class="nav-item">
			<a class="nav-link" href="post.html"></a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="author.html"></a>
			</li>

		</ul>
		<!-- end menu -->
		<!-- begin search -->

	</div>
</div>
</nav>

<div class="graybg authorpage">
	<div class="container">
		 <div class="listrecent listrelated">
                {%for post in post_list%}
				<!-- begin post -->
				<div class="authorpostbox">
					<div class="card">



                            {%if post.image%}

						<img class="img-fluid img-thumb" src="{{post.image.url}}" alt="">
                            {%endif%}

						<div class="card-block">
							<h2 class="card-title"><a href="post.html">{{post.title}}</a></h2>
              <h4 class="card-text">{{post.body}}</h4>
            	<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">

									</span>
									<span class="author-meta">
									<span class="post-name">{{post.author.full_name}}: :{{post.author.email}}</span><br/>
									<span class="post-date">{{post.created_on}}</span><span class="dot"></span><span class="post-read"></span>
									</span>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->
                {%endfor%}



		</div>
	</div>
</div>
<!-- End Author Posts


================================================== -->
<div class="container">
	<div class="footer">
	  <p class="pull-left">
	    Copyright &copy; 2017 Your Website Name
	  </p>
	  <p class="pull-right">
	    Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
	  </p>
	<div class="clearfix"></div>
	</div>
</div>
<!-- End Footer
================================================== -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>