<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="assets/img/favicon.ico">
<title>Mediumish - A Blog to learn and teach</title>
<!-- Bootstrap core CSS -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static 'assets/css/mediumish.css' %}" rel="stylesheet">
</head>
<body>

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container">
	<!-- Begin Logo -->

	<img src="{% static 'assets/img/logo.png' %}" alt="logo">

	<!-- End Logo -->
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<!-- Begin Menu -->
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
			<a class="nav-link" href="{% url 'userlist' %}">Users List<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{%url 'userposts' %}">Post List</a>
			</li>
            <li class="nav-item">
			<a class="nav-link" href="{%url 'logout' %}">Log Out</a>
			</li>

		</ul>
		<!-- End Menu -->
		<!-- Begin Search -->

	</div>
</div>
</nav>
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Mediumish</h1>
		<p class="lead">
			 A Blog, to learn and let learn!!
		</p>
	</div>

                <div class="container">
                    {%if profile_list%}
                    {%for profile in profile_list%}
                    <div class="card" style="width: 18rem;">
                        <img src="{{profile.profile.image.url}}" class="author" width="200px" height="200px" alt="">
                        <div class="card-body">
                            <h3 class="card-title">{{profile.Name}}</h3>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{profile.email}}</li>
                        </ul>

                    </div>
                     {%endfor%}
                    {%else%}
                    <div class="row justify-content-center mt-3">
                        <div class="col-md-5 col-sm-12 border-bottom position-relative">
                            <h2>No User</h2>
                        </div>
                    </div>
                {%endif%}
                </div>
            </div>
        </div>

	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2017 Your Website Name
		</p>
		<p class="pull-right">
			 Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
		</p>
		<div class="clearfix">
		</div>
	</div>
	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>



